<nav class="navbar flex flex-col gap-2">
    <a routerLink="/" routerLinkActive="actif__link" [routerLinkActiveOptions]="{ exact: true }"
        class="hover__underline__margin__hover text-sm md:text-base font-bold">Accueil</a>
    <a routerLink="/projects" routerLinkActive="actif__link" [routerLinkActiveOptions]="{ exact: true }"
        class="hover__underline__margin__hover text-sm md:text-base font-bold">Projets</a>
    <a routerLink="/design" routerLinkActive="actif__link" [routerLinkActiveOptions]="{ exact: true }"
        class="hover__underline__margin__hover text-sm md:text-base font-bold">Design</a>
    <a routerLink="/informations" routerLinkActive="actif__link" [routerLinkActiveOptions]="{ exact: true }"
        class="hover__underline__margin__hover text-sm md:text-base font-bold">Infos</a>
    <a routerLink="/contact" routerLinkActive="actif__link" [routerLinkActiveOptions]="{ exact: true }"
        class="hover__underline__margin__hover text-sm lg:text-base font-bold">Contact</a>
</nav>