/* w-180 h-[400px] */
.hover__img {

    /* height: 350px; */
    &:hover img {
        transform: scale(1.01);
    }
}

/* // Navigation */


.indicator {

    background: var(--small-dark);

    &.active {
        background: white;
        transform: scale(1.3);
    }

    &:hover:not(.active) {
        background: white;
        transform: scale(1.1);
    }
}

.carousel-item:not(.active) {
    transition: all;
    opacity: 0.5;
}